{% raw %}
<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <div class="card-title">
            {{{ _highlightResult.grantee_name.value }}}
        </div>
        <div class="text-muted">
          <p><span class="hit-format-currency">{{ grant_amount }}</span> <small>({{ tax_year }})</small></p>
          <p>{{#grantee_city}}
              {{ grantee_city }}, {{ grantee_state }} - 
            {{/grantee_city}}{{{ _highlightResult.grant_purpose.value }}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
