{% raw %}
  <table class="bordered">
    <thead>
      <tr>
        <th><span>Year</span></th>
        <th><span>Name</span></th>
        <th><span>Location</span></th>
        <th><span>Purpose</span></th>
        <th class="text-nowrap text-right" data-sort="int"><span>Amount</span></th>
      </tr>
    </thead>
    <tbody>
      {{#hits}}
        <tr>
          <td>{{ tax_year }}</td>
          <td>{{{ _highlightResult.grantee_name.value }}}</td>
          <td class="no-wrap">
            {{#grantee_city}}
              {{ grantee_city }},&nbsp;{{ grantee_state }}
            {{/grantee_city}}
          </td>
          <td>{{{ _highlightResult.grant_purpose.value }}}</td>
          <td>{{ grant_amount }}</td>
        </tr>
      {{/hits}}
    </tbody>
  </table>
{% endraw %}
