---
---
// @import 'algolia';

/* Sitewide helpers */
$accent-color: #ee6e73;
$text-muted: #757575;
$text-muted-max: #9e9e9e;
.btn {
  background-color: $accent-color;
}
.text-muted {
  color: $text-muted !important;
}
.text-muted-max {
  color: $text-muted-max !important;
}
.small {
  font-size: 85%;
}
.hidden {
  display: none;
}
.no-wrap {
  white-space: nowrap;
}
/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
.brand-logo {
  display: inline-block;
  height: 100%;
}
.brand-logo img {
  width: 200px;
  height: 44px;
  vertical-align: middle
}
nav.nav-center ul.ul-center {
  text-align: center;
}
nav.nav-center ul.ul-center li {
  display: inline;
  float: none;
}
nav.nav-center ul.ul-center li .ais-search-box {
  display: inline-block;
}

/* Hero */
.parallax-container {
  height: 400px;
}
.overlay {
  background: rgba(0,0,0,0.25);
}
.parallax {
  position: relative;
}
.intro {
  height: 400px;
  .intro-text {
    margin: auto;
    z-index: 1;
  }
}

/* Nav Searchbar */
.nav-search {
  height: 64px;
}
.nav-search nav {
  margin-bottom: 10px;
}
.nav-search nav.pinned {
  width: 100%;
  z-index: 1;
}
#search-box input {
  width: 360px; // 400 minues padding-left below
  padding-left: 40px;
  background-color: white;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  border-radius: 3px;
}
.ais-search-box {
  max-width: 400px;
}
.ais-search-box--magnifier, .ais.ais-search-box--reset {
  fill: #bfc7d8;
}
.ais-search-box--magnifier {
  //top: calc(50% - 18px/2)
  top: 25px;
}
.ais-search-box--magnifier svg {
  height: 18px;
  width: 18px;
}
.ais-search-box--reset {
  //top: calc(50% - 12px/2);
  top: 28px;
  right: 10px;
  svg {
    fill: $text-muted;
  }
}
.ais-search-box--powered-by {
  position: absolute;
  top: 0px;
  right: -155px;
}

/* Results section */
.section-raised {
  margin: 0px 30px 0px;
  border-radius: 6px;
}
.ais-stats--body {
  color: $text-muted;
}

/* Filters */
.card-header {
  padding: 15px 10px 20px 20px;
  text-transform: uppercase;
}
.section-refinements {
  .ais-root__collapsed span i {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: inherit !important;
    opacity: 1 !important;
    pointer-events: auto !important;
  }
  [type="checkbox"]+label {
    padding-left: 10px;
  }
  label {
    color: inherit;
  }
  label:after, label:before {
    display: none;
  }
  .ais-refinement-list--item__active label {
    color: $accent-color;
  }
  .ais-show-more, .show-more {
    margin-top: 24px;
  }
}

/* Clear all */
.ais-clear-all--link {
  color: inherit !important;
  display: inherit !important;
  background: inherit !important;
  border-radius: inherit !important;
  font-size: inherit !important;
  text-decoration: inherit !important;
  padding: inherit;
}

/* Hits */
table tbody {
  font-weight: 300;
}
#hits em {
  font-style: normal;
  background-color: lighten($accent-color, 55%);
}

/* Pagination */
.ais-pagination--item {
  display: inherit;
  padding: 0 3px;
}

// http://maxdesign.com.au/articles/simple-responsive-table/
.responsive-table-wrapper {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.responsive-table-wrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.responsive-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}