---
---
/* Override Materialize defaults */
body {
  font-size: 16px;
}

/* Sitewide helpers */
$accent-color: #ee6e73;
$text-muted: #757575;
$text-muted-max: #9e9e9e;
.btn {
  background-color: $accent-color;
}
.text-muted {
  color: $text-muted !important;
}
.text-muted-max {
  color: $text-muted-max !important;
}
.accent-text {
  color: $accent-color;
}
.small {
  font-size: 85%;
}
.hidden {
  display: none;
}
.no-wrap {
  white-space: nowrap;
}
/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Navbar */
.brand-logo {
  display: inline-block;
  height: 100%;
}
.brand-logo img {
  width: 200px;
  height: 44px;
  vertical-align: middle
}
nav.nav-center ul.ul-center {
  text-align: center;
}
nav.nav-center ul.ul-center li {
  display: inline;
  float: none;
}
nav.nav-center ul.ul-center li .ais-search-box {
  display: inline-block;
}

/* Hero */
.parallax-container {
  height: 400px;
}
.overlay {
  background: rgba(0,0,0,0.25);
}
.parallax {
  position: relative;
}
.intro {
  height: 400px;
  .intro-text {
    margin: auto;
    z-index: 1;
  }
}

/* Searchbar */
.nav-search {
  height: 64px;
  @media screen and (max-width: 992px) {
    // height: 128px;
  }
}
.nav-search nav {
  margin-bottom: 10px;
}
.nav-search nav.pinned {
  width: 100%;
  z-index: 2;
}
#ais-widget-search-box input {
  width: 360px; // 400 minus padding-left
  padding-left: 40px;
  background-color: white;
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  border-radius: 3px;
}
.ais-search-box {
  max-width: 400px;
}
.ais-search-box--magnifier, .ais.ais-search-box--reset {
  fill: #bfc7d8;
}
.ais-search-box--magnifier {
  top: calc(50% - 18px/2)
}
.ais-search-box--magnifier svg {
  height: 18px;
  width: 18px;
}
.ais-search-box--reset {
  //top: calc(50% - 12px/2);
  top: calc(50% - 10px/2);
  right: 10px;
  svg {
    fill: $text-muted;
  }
}
.ais-search-box--powered-by {
  position: absolute;
  top: 0px;
  right: -155px;
  @media screen and (max-width: 992px) {
    position: fixed;
    top: 97%;
    right: 0;
    z-index: 3;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: white;
    line-height: 1rem;
    /* mimic z-depth-3 */
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  }
}

/* Results wrapper */
.section-raised {
  margin: 0px 15px 0px;
  border-radius: 6px;
  @media screen and (min-width: 993px) {
    margin: 0px 30px 0px;
    min-height: 470px;
  }
}

/* Stats */
.ais-stats--body {
  color: $text-muted;
}

/* Sort By */
#ais-widget-sort-by {
  .input-field {
    margin-top: 0px !important;
  }
  select {
    // Necessary without select plugin
    display: inline-block;
    padding: 0;
  }
  select, input, .caret { // Can remove 'select' if select plugin initiated
    color: $text-muted !important; 
  }
  select, input {
    margin-bottom: 0 !important;
    border-bottom: 0 !important;
    line-height: 1.5rem !important;
    height: 1.5rem !important;
    // If using Materialize plugin, can remove all below
    background-color: transparent !important; // Necessary without select plugin
    border: none !important; // Necessary without select plugin
    outline: none !important; // Necessary without select plugin
    line-height: 1.4rem !important;
    height: 1.4rem !important;

  }
}
.divider {
  clear: both;
}

/* Filters - Refinements */
.card-header {
  padding: 15px 10px 20px 20px;
  border-radius: 2px 2px 0px 0px;
  @media screen and (max-width: 992px) {
    line-height: 1.4rem;
  }
}
.section-refinements {
  .temp-fix-materialize-bug {
    line-height: 25px;
    margin-bottom: 8px;
    cursor: pointer;
    label {
      font-size: 1rem;
      cursor: pointer;
      // TODO Eliminate truncate hack
      width: 78%;
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    label:after, label:before {
      display: none;
    }
    [type="checkbox"] {
      margin-right: 8px;
      position: inherit !important;
      opacity: 1 !important;
      pointer-events: auto !important;
      cursor: pointer;
    }
  }
  .ais-root__collapsed {
    .ais-header {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    span i {
      -ms-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  }
  label {
    color: inherit;
  }
  .ais-refinement-list--item__active {
    color: $accent-color;
    span {
      color: $accent-color !important;
    }
  }
  .ais-refinement-list--item__active
  .ais-show-more, .show-more {
    margin-top: 24px;
  }
  /* Range slider */
  .ais-range-slider--handle {
    border-color: $text-muted;
  }
  .ais-range-slider .rheostat-horizontal .rheostat-progress {
    background-color: #fafafa;
  }
}

/* Clear all */
.btn-custom {
  &:hover {
    background-color: lighten($accent-color, 5%)
  }
}
.ais-clear-all--link {
  color: inherit !important;
  display: inherit !important;
  background: inherit !important;
  border-radius: inherit !important;
  font-size: inherit !important;
  text-decoration: inherit !important;
  padding: inherit;
}

/* Hits */
table tbody {
  font-weight: 300;
}
#ais-widget-hits em {
  font-style: normal;
  background-color: lighten($accent-color, 27%);
}
.hits-empty {
  margin-top: 1em; // To match responsive table wrapper
}
.ais-current-refined-values--item {
  display: inline-block;
}
.btn-clear-refinements {
  margin: 5px 5px;
}

/* Pagination */
.ais-pagination--item {
  display: inherit;
  padding: 0 3px;
}

// http://maxdesign.com.au/articles/simple-responsive-table/
.responsive-table-wrapper {
	width: 100%;
	overflow-y: auto;
	_overflow: auto;
	margin: 0 0 1em;
}

.responsive-table-wrapper::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 14px;
	height: 14px;
}

.responsive-table-wrapper::-webkit-scrollbar-thumb {
	border-radius: 8px;
	border: 3px solid #fff;
	background-color: rgba(0, 0, 0, .3);
}